html {
    font-size: 22px;
    font-family: 'Garamond', Garamond, monospace;
}

#header {
    height: 100px;
    width: 100%;
    background: #ffffff;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    
    font-weight: normal;
    font-size: 50px;
    line-height: 200%; 
}
body {
    /* font: 14px "Poppins"; */
    background: #e2afd2;
    color: #000000;
    box-sizing: border-box;
    margin: 5rem;

}
a {
    color: rgb(0, 0, 0);
}

a:visited {
    color: gray;
}

a:hover {
    color: #88477f ;
}

table, tr, th, td, caption {
    border: 1px solid #eee;
    font-family:'Garamond', Garamond, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}